<div class="info">
    <mat-card class="card">
      <mat-card-header class="card-header">
        <mat-card-title>Название инцидента</mat-card-title>
        <mat-card-subtitle>Тип события</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-content">
        <p>
          Описание
        </p>
      </mat-card-content>
      <img class="card-image" />
      <mat-card-content class="card-content">
        <p>
          Адрес
        </p>
      </mat-card-content>
      <mat-card-content class="card-content">
        <p>
          Дата
        </p>
      </mat-card-content>
    </mat-card>

</div>