<div class="info">
  <div *ngIf="isMessangerMode" class="messanger-buttons">
    <button mat-flat-button class="left-button" [class.active]="activeTab === 'messages'" (click)="showMessages()">
      Сообщения
    </button>
    <button mat-flat-button class="right-button" [class.active]="activeTab === 'drafts'" (click)="showDrafts()">
      Черновики
    </button>
  </div>

  <app-event-type-selector
    (eventTypeChanged)="changeEventType($event)"
  ></app-event-type-selector>

  <app-event-card
    *ngIf="selectedEvent"
    [event]="selectedEvent"
  ></app-event-card>

  <div *ngIf="!selectedEvent">
    <span class="choose-event">Выберите событие</span>
  </div>

  <div class="button-container">
    <button class="button" mat-stroked-button color="primary">
      Создать сообщение
    </button>
  </div>
</div>

<div class="map-container">
  <div id="map" class="map"></div>
</div>

<ng-template> 2-зч </ng-template>
