<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title class="card-title">
      {{ event.name }}
    </mat-card-title>
    <mat-card-subtitle class="card-title">
      {{ getTypeTranslation(event.type) }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content">
    <p>
      {{ event.description }}
    </p>
  </mat-card-content>
  <div>
    <img class="card-image" [src]="event.firstImageBase64" />
    <img class="card-image" [src]="event.secondImageBase64" />
  </div>

  <div class="card-address">
    {{ event.address }}
  </div>
  <div class="card-date">
    {{ event.date }}
  </div>
</mat-card>
